#!/usr/bin/make -f

VERSION ?= $(shell dpkg-parsechangelog --show-field Version | sed 's/.*://')

include /usr/share/dpkg/architecture.mk

# Mint 17, based on Ubuntu Trusty, can't install systemd pkg; detect
# OS version and do some ugly hacks
OS_VERSION = $(shell bash -c 'source /etc/os-release; echo $$VERSION_ID')
HAVE_SYSTEMD = $(if $(filter 14.04,$(OS_VERSION)),,1)
DH_WITH_SYSTEMD = ,systemd  # The comma in the value necessitates this  :P

ifeq ($(DEB_HOST_ARCH_OS),linux)
# Configure for DKMS:  kernel build is disabled, but all modules are
# configured for dynamic enabling from DKMS config and kernel `make
# modules` command-line
CONFFLAGS += --enable-dkms
# The `eoe` support was disabled in @sittner's original packaging
CONFFLAGS += --disable-eoe
# Other options (unrelated to kernel modules)
CONFFLAGS += --enable-hrtimer --enable-rtmutex --enable-sii-assign
endif

default:
	echo "$(VERSION)"

%:
	dh $@ --with autoreconf,dkms$(if $(HAVE_SYSTEMD),$(DH_WITH_SYSTEMD),)

override_dh_autoreconf:
	touch ChangeLog
	mkdir -p m4
        # Remove `autoreconf -f` arg so `INSTALL` file isn't clobbered
	dh_autoreconf autoreconf -- -i

override_dh_clean:
	rm -f ChangeLog
	dh_clean

override_dh_auto_configure:
	dh_auto_configure -- \
		$(CONFFLAGS)

override_dh_install:
#	# Move pkg-config conf to arch-specific directory
	if test -f debian/tmp/usr/lib/pkgconfig/libethercat.pc; then \
	    mkdir -p debian/tmp/usr/lib/$(DEB_BUILD_GNU_TYPE)/pkgconfig; \
	    mv debian/tmp/usr/lib/pkgconfig/libethercat.pc \
	        debian/tmp/usr/lib/$(DEB_BUILD_GNU_TYPE)/pkgconfig/; \
	fi

	dh_install --

#	# Manually install DKMS sources
	dh_install -petherlabmaster-dkms \
	    config.h globals.h Kbuild \
	    -X.o -X.ko -XMakefile -X.in -X.am \
	    examples/ include/ master/ tty/ devices/ \
	    debian/dkms/* \
	    usr/src/etherlabmaster-$(VERSION)

ifneq ($(HAVE_SYSTEMD),)
# Once we ditch support for Trusty & raise compat level, switch this
# to dh_installsystemd
override_dh_installinit:
	mv debian/tmp/lib/systemd/system/ethercat.service \
	    debian/etherlabmaster-dkms.ethercat.service
	dh_installinit -petherlabmaster-dkms --name=ethercat
endif

ifeq ($(HAVE_SYSTEMD),)
# On Ubuntu Trusty & Mint 17, install init script.  dh_installinit
# prints ugly "Use of uninitialized value" messages, but does still
# work
override_dh_installinit:
	cp script/init.d/ethercat debian/etherlabmaster-dkms.ethercat.init
	dh_installinit -petherlabmaster-dkms --name=ethercat
endif

override_dh_missing:
	rm -rf	debian/tmp/etc/sysconfig \
		debian/tmp/etc/init.d
	dh_missing --fail-missing

override_dh_dkms:
	dh_dkms -V $(VERSION)

ifneq ($(DEB_HOST_ARCH),$(DEB_BUILD_ARCH))
override_dh_shlibdeps:
	dh_shlibdeps -l /usr/$(DEB_HOST_MULTIARCH)/lib
endif
